# Set it to the current working directory of the harbor project
DATABASE_URL=
# Set it to the current working directory of the harbor project (it will default to /var/lib/harbor if not)
HARBOR_DATA_DIR="/Users/Maaz/Documents/Git/harbor/config/"